body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    padding: 15px;
    background-color:blue;
    color: white;
    border-radius: 8px;
}

footer p {
    margin: 5px 0;
}


.image{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

figure img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

figure{
    margin: 0;
    gap: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: blue;
    
}

main h1{
    text-align: center;
}
nav a {
color: aliceblue;
text-decoration: none;
padding: 0.5rem;
}

nav a:hover {
    background-color: black;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

figcaption{
    text-align: center;
}

header h1{
    color: white;
}

