

 /* @media (max-width: 768px) {
  nav{
  display:none;
  }
} */

@media (min-width: 768px){
#menu{
      display:none;
  }
  .hideMe {
    display: none!important;
    visibility: hidden;
  }

}
  
@media (max-width: 768px){
nav{
      display:none;
  }
}
  
